.git
.gitignore
docker-compose.yml
.docker
pycache/
*/pycache/
*/*/pycache/
*/*/*/pycache/
*/*.py[cod]
.Python
env/
develop-eggs/
eggs/
parts/
sdist/
var/
.installed.cfg
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.env/
.venv/
venv/
.idea
LICENSE
README.md
.pdm.toml
__pypackages__
