.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #aa23e4;
  color: #fff;
}

.button:hover {
  background-color: #6c059b;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buttonSecondary {
  background-color: #ff6a00;
}

.buttonSecondary:hover {
  background-color: #bb550d;
}

.buttonSecondary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
