.linkLogo {
  text-decoration: none;
}

.logo {
  margin-top: 0;
  margin-bottom: 30px;
  background-clip: text;
  background: linear-gradient(180deg, rgba(0, 41, 255, 0.99) 0%, #ffd600 100%);
  font-family: 'Lohit Tamil', sans-serif;
  font-size: 40px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.container {
  width: 200px;
  background: #e4e4e4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
